.headerr {
    overflow: hidden;
    background-image: linear-gradient(190deg, rgb(35 36 38) 0%, rgb(52 75 125) 69%, rgb(39 43 43) 89%) !important;
    padding: 7px 10px;
    border-bottom: 4px solid #1c1a1d;
}

.header span {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.logo {
    font-size: 25px;
    font-weight: bold;
}

/* Change the background color on mouse-over */
.header span:hover {
    background-color: #ddd;
    color: black;
}

/* Style the active/current link*/
.header span.active {
    background-color: dodgerblue;
    color: white;
}

/* Float the link section to the right */
.header-right {
    float: right;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.timer {
    margin-top: -17px;
    align-self: end;
}

/* CSS */
.button-51 {
    background-color: transparent;
    border: 1px solid #266DB6;
    box-sizing: border-box;
    color: #00132C;
    font-family: "Avenir Next LT W01 Bold", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    padding: 16px 23px;
    position: relative;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-51:hover,
.button-51:active {
    outline: 0;
}

.button-51:hover {
    background-color: transparent;
    cursor: pointer;
}

.button-51:before {
    background-color: #D5EDF6;
    content: "";
    height: calc(100% + 3px);
    position: absolute;
    right: -7px;
    top: -9px;
    transition: background-color 300ms ease-in;
    width: 100%;
    z-index: -1;
}

.button-51:hover:before {
    background-color: #6DCFF6;
}

@media (min-width: 768px) {
    .button-51 {
        padding: 16px 32px;
    }
}

/* CSS */
.button-84 {
    align-items: center;
    background-color: initial;
    background-image: linear-gradient(#464d55, #25292e);
    border-radius: 8px;
    border-width: 0;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .1), 0 3px 6px rgba(0, 0, 0, .05);
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    flex-direction: column;
    font-family: expo-brand-demi, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 18px;
    height: 52px;
    justify-content: center;
    line-height: 1;
    margin: 0;
    outline: none;
    overflow: hidden;
    padding: 0 32px;
    text-align: center;
    text-decoration: none;
    transform: translate3d(0, 0, 0);
    transition: all 150ms;
    vertical-align: baseline;
    white-space: nowrap;
}

.button-84:hover {
    box-shadow: rgba(0, 1, 0, .2) 0 2px 8px;
    opacity: .85;
}

.button-84:active {
    outline: 0;
}

.button-84:focus {
    box-shadow: rgba(0, 0, 0, .5) 0 0 0 3px;
}

@media (max-width: 420px) {
    .button-84 {
        height: 48px;
    }
}

.ui.inverted.top.fixed.menu {
    background-image: linear-gradient(135deg, rgb(24, 42, 115) 0%, rgb(33, 138, 174) 69%, rgb(32, 167, 172) 89%) !important;
}

body {
    background-color: #ffffff !important;
}

.dashboardItem {
    height: 0;
    width: 100%;
    padding-bottom: 12%;
}

.itemHeader {
    all: initial;
    text-align: center;
    background-image: linear-gradient(190deg, rgb(35 36 38) 0%, rgb(52 75 125) 69%, rgb(39 43 43) 89%) !important;
    ;
    color: white;
    font-size: 30px;
    display: block;

}

.learningUnitItem {
    border: double;
    margin: 1%;
    width: 80%;
}

.buttonStar {
    background: url('http://imgur.com/I0EwG.png') transparent;
    height: 48px;
    width: 45px;
    border: none;
}


.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}

.belowCenter {
    position: absolute;
    left: 50%;
    top: 57%;
    transform: translate(-50%, -50%);
    padding: 10px;
}

.detailsHeader {
    margin: 1em 0 0.5em 0;
    font-weight: 600;
    font-family: 'Titillium Web', sans-serif;
    position: relative;
    font-size: 36px;
    line-height: 40px;
    padding: 15px 15px 15px 20%;
    color: #355681;
    box-shadow:
        inset 0 0 0 1px rgba(53, 86, 129, 0.4),
        inset 0 0 5px rgba(53, 86, 129, 0.5),
        inset -285px 0 35px white;
    border-radius: 0 10px 0 10px;
    background: #fff url(C:\ProgramData\LicentaApp\client-app\src\assets\headerSecret.png) no-repeat center left;
}

.learningUnitContent {
    height: 200px;
    border: 1px solid #ccc;
    font: 14px/18px Georgia, Garamond, Serif;
    overflow: auto;
}


.comment {
    display: block;
    transition: all 1s;
}

.commentClicked {
    min-height: 0px;
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 5px 10px
}

.container textarea {
    width: 50%;
    border: none;
    background: #E8E8E8;
    padding: 5px 10px;
    height: 50%;
    border-radius: 5px 5px 0px 0px;
    border-bottom: 2px solid #016BA8;
    transition: all 0.5s;
    margin-top: 15px;
}

button.primaryContained {
    background: #016ba8;
    color: #fff;
    padding: 10px 10px;
    border: none;
    margin-top: 0px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 4px;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.25);
    transition: 1s all;
    font-size: 10px;
    border-radius: 5px;
}

button.primaryContained:hover {
    background: #b2b410;
}

.chatSectionTitle {
    font-family: 'Titillium Web', sans-serif;
    color: #355681;
    font-size: 18px;
    margin-top: 5px;
}

.homeBackground {
    background-color: #1C23B7;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23181e9e' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23141985' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%2311156c' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%230d1053' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23090B3A' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.detailsHeaderHomePage {
    margin: 1em 0 0.5em 0;
    margin-left: 5px;
    margin-right: 5px;
    font-weight: 600;
    font-family: 'Titillium Web', sans-serif;
    position: relative;
    font-size: 36px;
    line-height: 40px;
    padding: 15px 15px 15px 20%;
    color: #355681;
    box-shadow:
        inset 0 0 0 1px rgba(53, 86, 129, 0.4),
        inset 0 0 5px rgba(53, 86, 129, 0.5),
        inset -285px 0 35px white;
    border-radius: 0 10px 0 10px;
    background: #fff url(C:\ProgramData\LicentaApp\client-app\src\assets\headerSecret.png) no-repeat center left;
}

.homePageSubtitle {
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 12%;
    font-family: 'Titillium Web', sans-serif;
}

/* CSS */
.button-59 {
    align-items: center;
    background-color: #fff;
    border: 2px solid #000;
    box-sizing: border-box;
    color: #000;
    cursor: pointer;
    display: inline-flex;
    fill: #000;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 600;
    height: 48px;
    justify-content: center;
    letter-spacing: -.8px;
    line-height: 24px;
    min-width: 140px;
    margin-left: 44%;
    outline: 0;
    padding: 0 17px;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-59:focus {
    color: #171e29;
}

.button-59:hover {
    border-color: #06f;
    color: #06f;
    fill: #06f;
}

.button-59:active {
    border-color: #06f;
    color: #06f;
    fill: #06f;
}

@media (min-width: 768px) {
    .button-59 {
        min-width: 170px;
    }
}

/* CSS */
.button-68 {
    appearance: none;
    backface-visibility: hidden;
    background-color: #27ae60;
    border-radius: 8px;
    border-style: none;
    box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: Inter, -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: normal;
    line-height: 1.5;
    outline: none;
    overflow: hidden;
    padding: 13px 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transform: translate3d(0, 0, 0);
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
    width: -webkit-fill-available;
}

.button-68:hover {
    background-color: #1e8449;
    opacity: 1;
    transform: translateY(0);
    transition-duration: .35s;
}

.button-68:active {
    transform: translateY(2px);
    transition-duration: .35s;
}

.button-68:hover {
    box-shadow: rgba(39, 174, 96, .2) 0 6px 12px;
}

.groupCenterInlineButton {
    display: flex;
    flex-direction: row;
    max-width: 100px;
    position: absolute;
    left: 37%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}

.groupCenterInlineForm {
    flex-direction: row;
    position: absolute;
    left: 46.5%;
    top: 68%;
    transform: translate(-50%, -50%);
    padding: 10px;
    border: solid;
    background: white;
    width: 20%;
    height: 22%;
}

.comment {
    position: relative;
    margin: 5px auto;
}


.comment-author {
    color: #016ba8;
    font-weight: bold;
    text-decoration: none;
}

.comment-body {
    display: flex;
    margin-bottom: -20px;
    margin-left: -29px;
}
.comment-author:hover {
    text-decoration: underline;
}